<div class="padding ">
  <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
    <div class="row">
      <div class="col-md-6 mx-auto text-center pb-3 ">
        <h1 class="cont_header">{{MenuType}}</h1>
      </div>
    </div>
    {{#each Items}}
    <div class="row justify-content-center">
      <div class="col">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{Image}}" class="img-fluid rounded-start" alt="Item Image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{Name}}</h5>
                <p class="card-text">{{Description}}</p>
                <p class="card-text">{{Price}}$</p>
                {{#if (isuser ../userType)}}   
                <a href="/restaurants/menu/menuItems/addRating/{{Name}}/{{Item_Id}}" class="btn btn-outline-dark">Add
                  Rating</a>
                {{else}}
                <a href="/restaurants/menu/menuItems/updateItem/{{Item_Id}}" class="btn btn-outline-dark">Edit Item</a>
                <a href="/restaurants/menu/menuItems/deleteItem/{{Item_Id}}" class="btn btn-outline-dark">Delete Item</a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>