
{{#each Items}}
  <h2>Menu {{menus.[{{@index}}].Type}}</h2>
  <ul>
    {{#each this}}
      {{#if this.Name}}
      <li>{{this.Name}}</li>
      {{else}}
      <p>no items yet</p>
      {{/if}}
    {{/each}}
  </ul>
{{/each}}

{{!-- {{#each menus}}
<h2>Menu Type: {{Type}}</h2>
{{/each}} --}}