  <h2>Rate the Menu Item {{Name}}</h2>
  <form action="/restaurants/menu/menuItems/addRating/{{Item_Id}}" method="post">
    <div class="rating">
      <input value="{{rating}}" type="radio" id="star5" name="rating" value="5">
      <label for="star5"></label>
      <input value="{{rating}}" type="radio" id="star4" name="rating" value="4">
      <label for="star4"></label>
      <input value="{{rating}}" type="radio" id="star3" name="rating" value="3">
      <label for="star3"></label>
      <input value="{{rating}}" type="radio" id="star2" name="rating" value="2">
      <label for="star2"></label>
      <input value="{{rating}}" type="radio" id="star1" name="rating" value="1">
      <label for="star1"></label>
    </div>
    <div class="description">
      <label for="description">Description:</label>
      <textarea value="{{description}}" id="description" name="description" rows="4" cols="50"></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>