<div id="home">
    <div class="container cont_style p-5">
        <h1 class="mt-5">Profile Page</h1>
        <div class="row mt-5">
            <div class="col-md-6 align-content-center d-flex justify-content-center">
                <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                    alt="Profile Picture" class="img-fluid profile-picture">
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column align-items-center">
                    <h2>{{username}}</h2>
                    <br>
                    <a href="/edit-profile" class="btn btn-outline-secondary mb-2">Edit profile</a>
                    <a href="/changePassword" class="btn btn-outline-secondary mb-2">Change password</a>
                </div>
            </div>
        </div>
        {{#if (isuser userType )}}
        <div class="row mt-5">
            <div class=" vstack gap-3 col-md-7 mx-auto">
                <div class="row">
                    <div class="col-md-5 mx-auto text-center pb-1 ">
                        <p>My reviews</p>
                    </div>
                </div>

                {{#each reviews}}
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                                        class="img-fluid rounded-circle  " alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.Menu_Item.Menu.Restaurant.Name}}</h5>
                                        <p class="card-text">Menu:{{this.Menu_Item.Menu.Name}}<br>Menu
                                            Item:{{this.Menu_Item.Name}}</p>
                                        <p class="card-text">
                                            {{#fillstars this.Rating}}
                                            <i class="fa fa-star"></i>
                                            {{/fillstars}}
                                            {{#emptystars this.Rating}}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                            {{/emptystars}}
                                        </p>
                                        <p class="card-text">{{this.Comments}}</p>
                                        <a href="/editRating/{{this.Review_Id}}/{{this.Menu_Item.Item_Id}}"
                                            class="btn btn-outline-secondary mb-5">Edit Review</a>
                                        <a href="/deleteReview/{{this.Review_Id}}"
                                            class="btn btn-outline-secondary mb-5">Delete Review</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}

        <div class="row mt-5">
            <div class="vstack gap-3 col-md-9 mx-auto">
                {{#each restaurant}}
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="{{this.Image}}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h4 class="card-title">Restaurant: {{this.Name}}</h4>
                                        <p class="card-text">{{this.Address}}</p>
                                        <p class="card-text">Opens: {{this.Opens_on}}</p>
                                        <p class="card-text">Closes: {{this.Closes_at}}</p>
                                        <a href="/addMenu/{{this.Restaurant_Id}}"
                                            class="btn btn-outline-secondary mb-3">Add Menu</a>
                                        {{#each this.Menus}}
                                        <div class="menu-item">
                                            <div class="row g-0">
                                                <div class="col-md-3">
                                                    <img src="{{this.Image}}" class="img-fluid" alt="...">
                                                </div>
                                                <div class="col-md-9">
                                                    <h5 class="card-text">Menu: {{this.Name}}</h5>
                                                    <p class="card-text">Menu Type: {{this.Type}}</p>
                                                    <p class="card-text">Active from: {{this.Active_from}}</p>
                                                    <p class="card-text">Active until: {{this.Active_until}}</p>
                                                    <a href="/addItem/{{this.Menu_Id}}"
                                                        class="btn btn-outline-secondary mb-2">Add Menu Item</a>
                                                    <a href="/editMenu/{{this.Menu_Id}}"
                                                        class="btn btn-outline-secondary mb-2">Edit Menu</a>
                                                    <a href="/restaurants/menu/menuItems/{{this.Menu_Id}}"
                                                        class="btn btn-outline-secondary mb-2">Display All Menu
                                                        Items</a>
                                                    <a href="/restaurants/menu/menuItems/deleteMenu/{{this.Menu_Id}}"
                                                        class="btn btn-outline-secondary mb-2">Delete Menu</a>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <a href="/editrestaurant/{{this.Restaurant_Id}}" class="btn btn-outline-secondary mb-3">Edit
                                Restaurant</a>
                            <a href="/restaurants/menu/menuItems/deleteRestaurant/{{this.Restaurant_Id}}"
                                class="btn btn-outline-secondary mb-3">Delete Restaurant</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</div>











{{!-- <div class="row">
    <div class="col-md-5 mx-auto text-center pb-1">
        <h1>My Restaurants</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5 mx-auto text-center pb-1">
        <a href="/addRestaurant" class="btn btn-outline-secondary mb-5">Add Restaurant</a>
    </div>
</div>
{{#each restaurant}}
<div class="row justify-content-center">
    <div class="col">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{this.Image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">{{this.Address}}</p>
                        <p class="card-text">Opens: {{this.Opens_on}}</p>
                        <p class="card-text">Closes: {{this.Closes_at}}</p>
                        <a href="/editrestaurant/{{this.Restaurant_Id}}" class="btn btn-outline-secondary mb-3">Edit
                            Restaurant</a>
                        <a href="/restaurants/menu/menuItems/deleteRestaurant/{{this.Restaurant_Id}}"
                            class="btn btn-outline-secondary mb-3">Delete Restaurant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#each this.Menu}}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mb-3 w-75 mx-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{this.Image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text">Menu Type: {{this.Type}}</p>
                        <p class="card-text">Active from: {{this.Active_from}}</p>
                        <p class="card-text">Active until: {{this.Active_until}}</p>
                        <a href="/addItem/{{this.Menu_Id}}" class="btn btn-outline-secondary mb-2">Add
                            Menu Item</a>
                        <a href="/editMenu/{{this.Menu_Id}}" class="btn btn-outline-secondary mb-2">Edit
                            Menu</a>
                        <a href="/restaurants/menu/menuItems/{{this.Menu_Id}}"
                            class="btn btn-outline-secondary mb-2">Display All Menu Items</a>
                        <a href="/restaurants/menu/menuItems/deleteMenu/{{this.Menu_Id}}"
                            class="btn btn-outline-secondary mb-2">Delete Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
</div>
{{/each}} --}}