{{!-- <form action="/do-add-menu/:restaurantid" method="post">
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h2 class="text-center">Add your Menu below...</h2>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-6 offset-3">
            <div class="form-floating">
              
                <input type="text" class="form-control"
                    value="{{name}}" name="name" id="name" placeholder="Restaurant Name"
                    required="required" autofocus 
                >
                <label class="form-label" for="name">New Menu Name</label>

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="form-floating">
                
                <input type="type" class="form-control"
                    value="{{type}}" name="type" id="type" placeholder="Menu Type"
                >
                <label class="form-label" for="type">Menu Type</label>               
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="form-floating">
                
                <input type="opens" class="form-control" 
                    value="{{opens}}" name="opens" id="opens" placeholder="HH:MM"
                >
                <label class="form-label" for="opens">Active from</label>
            </div>
        </div>
    

    </div>

    <div class="row mt-7">
        <div class="col-6 offset-3">
            <div class="form-floating">
                
                <input type="closes" class="form-control" 
                    value="{{closes}}" name="closes" id="closes" placeholder="HH:MM"
                >
                <label class="form-label" for="closes">Active until</label>
            </div>
        </div>
    

    </div>
    
    <div class="row mt-9">
        <div class="col-6 offset-3">
            <button type="submit" class="btn btn-dark btn-lg pb-sm-3 mb-3">Submit</button>   
        </div>
    </div>
</form> --}}


<div id="home">
    <div class="d-flex justify-content-center">
        <div class="container-sm m-5 p-5 align-items-center justify-content-center rounded-3"
            style=" background-color: #c7e3c2; max-width:600px;  box-shadow: 4px 3px 7px 2px #00000040;">
            <div class="landing-text pb-sm-3 mb-sm-4 ">
                <h2>Add your Menu info below...</h2>
            </div>

            <div class="container d-flex align-items-center justify-content-center signup-form">
                <form action="/add-menu" method="post" class="needs-validation">
                    <div class="col-lg form-floating mb-3">
                
                        <input type="text" class="form-control" 
                        value="{{name}}" name="name" id="restaurantNameInput" placeholder="Menu Name" 
                        required="required" autofocus>
                        <label for="restaurantNameInput">Menu Name</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="type" class="form-control" 
                        value="{{type}}" name="type" id="floatingtype" placeholder="Type"
                        required="required">
                        <label for="floatingtype">Menu type</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="time" class="form-control" 
                        value="{{opens}}" name="opens" id="floatingopens" placeholder="HH:MM"
                        required="required">
                        <label for="floatingopens">Active From</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="time" class="form-control" 
                        value="{{closes}}" name="closes" id="floatingcloses" placeholder="HH:MM"
                        required="required"   >
                        <label for="floatingcloses">Active Until</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg pb-sm-3 mb-3">Add Menu</button>
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>